<footer aria-label="Footer">
    <section aria-label="Colophon">
        <h5>Colophon</h5>
        <p aria-label="Typography">
            Type set in
            <a
                href="https://github.com/cyrealtype/Lora-Cyrillic"
                target="_blank"
                >Lora</a
            >
            by Ceryaltype &amp;
            <a href="https://github.com/rsms/inter/" target="_blank">Inter</a>
            by R. Andersson
        </p>
        <p aria-label="Back-end">
            <a href="https://en.wikipedia.org/wiki/HATEOAS" target="_blank"
                >HATEOAS</a
            >
            back-end serving
            <a href="https://hypermedia.systems/book/foreword/" target="_blank"
                >Hypermedia</a
            >
            written in
            <a href="https://go.dev/" target="_blank">Go</a>
        </p>
        <p aria-label="Front-end">
            Front-end is <a href="https://htmx.org/" target="_blank">HTMX</a>,
            CSS, &amp;
            <a href="https://hyperscript.org" target="_blank">Hyperscript</a>
        </p>
    </section>
    <section aria-label="Site footer">
        <nav
            aria-label="Pages"
            hx-boost="true"
            hx-push-url="true"
            hx-target="main"
            hx-select="main"
            hx-swap="outerHTML show:window:top"
        >
            {{template "views/partials/nav-items" .}}
        </nav>
        <p aria-label="Copyright">
            &copy;2024 Dylan Navajas Gluck. All rights reserved.
        </p>
    </section>
</footer>
