<header aria-labelledby="name">
  <a href="/" aria-label="Dylan Navajas Gluck">
    <span id="name">Dylan Navajas Gluck</span>
  </a>
  <div class="navigation">
    <nav aria-label="Accessibility">
      <a href="#main" class="sr-only">Jump to content</a>
    </nav>
    <nav aria-label="Primary">
      <a href="/" class="active">Home</a>
      <a href="https://github.com/dylan-gluck" target="_blank" lang="en-US"
        >Github</a
      >
      <a
        href="https://www.linkedin.com/in/dylangluck/"
        target="_blank"
        lang="en-US"
        >Linkedin</a
      >
    </nav>
  </div>
</header>
