<header
    hx-boost="true"
    hx-push-url="true"
    hx-target="main"
    hx-select="main"
    hx-swap="outerHTML show:window:top"
    aria-label="Header"
>
    <a href="/" id="name" aria-label="Dylan Navajas Gluck">
        <span>Dylan Navajas Gluck</span>
    </a>
    <div class="navigation">
        <nav aria-label="Accessibility">
            {{template "views/partials/theme-toggle" .}}
            <a href="#main" class="sr-only">Jump to content</a>
        </nav>
        <nav id="nav-primary" aria-label="Primary">
            {{template "views/partials/nav-items" .}}
        </nav>
    </div>
</header>
