<a
    href="/"
    _="on load or htmx:afterSwap from window if window.location.pathname is '/' then add @aria-current='page' to me else remove @aria-current from me end"
    >Profile</a
>
<a
    href="/blog"
    _="on load or htmx:afterSwap from window if window.location.pathname includes '/blog' then add @aria-current='page' to me else remove @aria-current from me end"
    >Blog</a
>
<a href="https://github.com/dylan-gluck" target="_blank" lang="en-US">Github</a>
<a href="https://www.linkedin.com/in/dylangluck/" target="_blank" lang="en-US"
    >Linkedin</a
>
