<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Full-stack engineer, Designer & AI researcher — working closely with leaders to shape the next generation of web companies."
    />
    <meta
      name="keywords"
      content="Dylan Navajas Gluck, Dylan Gluck, Full-stack engineer, AI researcher, Engineering Manager, New York Software Engineer, Senior Software Engineer, New York"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:title" content="Dylan Navajas Gluck" />
    <meta
      property="og:description"
      content="Full-stack engineer, designer & AI researcher — working closely with leaders to shape the next generation of web companies."
    />
    <meta property="og:image" content="{{ .Host }}/preview.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/styles/main.css" />

    <title>{{ .Title }} | Dylan Navajas Gluck</title>
  </head>
  <body class="container">
    {{embed}}
  </body>
</html>
