<aside class="sidebar">
    <h5>Currently</h5>
    <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Lead Software Engineer, UX</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Unqork</dd>
    </dl>
    <h5>Previously</h5>
    <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Sr. Software Engineer – Growth</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Aaptive</dd>
    </dl>
    <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Full-stack Engineer</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Ready Set Rocket</dd>
    </dl>
</aside>

<style>
    dl {
        margin-bottom: 0.5rem;

        .role {
            font-size: 0.9rem;
            color: var(--secondary);
            margin: 0;
        }

        .company {
            font-size: 0.7rem;
            color: var(--accent);
            margin: 0;
        }
    }
</style>
