<section
    id="blog"
    hx-boost="true"
    hx-push-url="true"
    hx-target="main"
    hx-select="main"
    hx-swap="outerHTML"
>
    <h1>{{ .Title }}</h1>
    {{ range .Posts }}
    <article id="{{ .Id }}">
        <hgroup>
            <h3>{{ .Title }}</h3>
            <p>{{ .Short }}</p>
        </hgroup>
        <nav>
            <a href="/blog/{{ .Id }}">Read entry</a>
            <time>{{ .Date }}</time>
        </nav>
    </article>
    {{ end }}
</section>

<style>
    #blog {
        max-width: 1000px;
        margin-inline: auto;

        h1 {
            animation: fadeUp 600ms ease-in 300ms backwards;
        }

        article {
            display: block;
            padding-block: 1rem 2rem;
            animation: fadeUp 700ms ease-in 600ms backwards;

            h3 {
                margin-bottom: 0.5rem;
            }

            nav {
                font-size: 0.8rem;
            }

            time {
                font-family: "Lora";
                font-style: italic;
                opacity: 0.5;
            }
        }
    }
</style>
