{{template "partials/header" .}}

<main>
  <section id="intro" aria-labelledby="title">
    <h1 id="title">
      Designing innovative solutions, fostering new ideas, and driving business
      success.
    </h1>
    <h3>
      Full-stack engineer & designer — working closely with leaders to shape the
      <span class="text-primary">next generation of web companies.</span>
    </h3>
  </section>
  <section id="profile" aria-label="Profile">
    <div class="content">
      <h3>Profile</h3>
      <p>
        New York-based full-stack engineer, designer, and AI researcher with
        over 14 years experience delivering industry-leading solutions for
        enterprise clients. My passion is creating user-focused web experiences
        that are engaging, performant and accessible.
      </p>
      <p>
        Currently leading UX Engineering at
        <a href="https://unqork.com">Unqork</a>, where I collaborate closely
        with SLT to develop best practices and processes around design system
        integration and developer experience. In this role, I have successfully
        led multiple cross-functional delivery teams and developed tools that
        are widely utilized across the organization.
      </p>
      <p>
        Beginning my career primarily using PHP, MySQL & jQuery, I have
        experienced first-hand the many evolutions of our industry including the
        tools, best practices and processes that have come and gone. I leverage
        this diverse experience to identify proven strategies and avoid common
        pitfalls while adapting my toolset based on project requirements.
      </p>
      <h5>Capabilities</h5>
      <p>
        <span class="label">Web platform;</span> HTML, CSS, Javascript; SSR,
        SPA, PWA, Web components, Accessibility, CRO & growth.
        <span class="label">Backend;</span> NodeJS, Deno, PHP, Python, Go, SQL,
        Mongo, GraphQL, Docker. <span class="label">AI systems;</span> Agent
        toolchain development, RAG optimization, QloRA, Langchain, LlamaIndex,
        Autogen. <span class="label">Data;</span> Pandas, NumPy, Pytorch, D3.js,
        three.js
      </p>
    </div>
    <aside>
      <section aria-labelledby="current">
        <h5 id="current">Currently</h5>
        <dl>
          <dt class="sr-only">Role</dt>
          <dd class="role">Lead UX Engineer</dd>
          <dt class="sr-only">Company</dt>
          <dd class="company">Unqork</dd>
        </dl>
        <dl>
          <dt class="sr-only">Role</dt>
          <dd class="role">Full-stack Engineer, AI developer</dd>
          <dt class="sr-only">Company</dt>
          <dd class="company">Visiondeck</dd>
        </dl>
      </section>
      <section aria-labelledby="previous">
        <h5 id="previous">Previously</h5>
        <dl>
          <dt class="sr-only">Role</dt>
          <dd class="role">Sr. Software Engineer – Growth</dd>
          <dt class="sr-only">Company</dt>
          <dd class="company">Aaptive</dd>
        </dl>
        <dl>
          <dt class="sr-only">Role</dt>
          <dd class="role">Full-stack Engineer</dd>
          <dt class="sr-only">Company</dt>
          <dd class="company">Ready Set Rocket</dd>
        </dl>
      </section>
    </aside>
  </section>
</main>

{{template "partials/footer" .}}
