{{template "partials/header" .}}

<main>
  <section id="intro" aria-labelledby="title">
    <h2 id="title">
      Designing innovative solutions, fostering new ideas, and driving business
      success.
    </h2>
    <h4>
      Full-stack engineer & designer — working closely with leaders to shape the
      <span class="text-primary">next generation of web companies.</span>
    </h4>
  </section>
  <section id="profile" aria-label="Profile">
    <div class="content">
      <h3>Profile</h3>
      <p>
        New York based full-stack engineer, designer, and AI researcher with
        over 14 years experience delivering industry-leading solutions for
        enterprise clients. My passion is creating user-focused web experiences
        that are engaging, performant and accessible.
      </p>
      <p>
        Currently leading UX Engineering at
        <a href="https://unqork.com" target="_blank">Unqork</a>, where I
        collaborate closely with SLT to develop best practices and processes in
        design-system integration and developer experience.
      </p>
      <h5>Capabilities</h5>
      <p>
        <span class="label">Web platform;</span> HTML, CSS, Javascript; SSR,
        SPA, PWA, Web components, Accessibility, CRO & growth.
        <span class="label">Backend;</span> Go, Gleam, PHP, Python, NodeJs,
        Neo4j, SQL, Mongo, GraphQL, Docker.
        <span class="label">AI;</span> Transformers, Image Diffusion,
        Fine-tuning, QLoRA, RAG, Langchain, LlamaIndex, Autogen.
        <span class="label">Data;</span> Pandas, NumPy, Pytorch, D3.js, three.js
      </p>
    </div>
    <aside>
      <h5>Currently</h5>
      <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Lead Software Engineer, UX</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Unqork</dd>
      </dl>
      <h5>Previously</h5>
      <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Sr. Software Engineer – Growth</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Aaptive</dd>
      </dl>
      <dl>
        <dt class="sr-only">Role</dt>
        <dd class="role">Full-stack Engineer</dd>
        <dt class="sr-only">Company</dt>
        <dd class="company">Ready Set Rocket</dd>
      </dl>
    </aside>
  </section>
</main>

{{template "partials/footer" .}}
