#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  position: relative;
  z-index: 10;
  padding-block: 2rem;

  & h2 {
    margin: 0;
    max-width: 62rem;
  }

  & h4 {
    color: var(--secondary);
    max-width: 50rem;
  }
}
