#profile {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 2rem;

  .content {
    grid-column: span 4 / span 4;
    animation: fadeUp 500ms ease-in 1s backwards;
  }

  > aside {
    grid-column: span 4 / span 4;
    animation: fadeUp 500ms ease-in 1.1s backwards;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    font-family: "Lora";
    color: var(--secondary);
    max-width: 70ch;

    a {
      color: var(--accent);
      border-bottom: 1px dashed var(--accent);
    }

    .label {
      color: var(--primary);
    }
  }

  dl {
    margin-bottom: 0.5rem;

    .role {
      font-size: 1rem;
      color: var(--secondary);
      margin: 0;
    }

    .company {
      font-size: 0.7rem;
      color: var(--accent);
      margin: 0;
    }
  }

  section {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  #profile {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 8rem;

    & > aside {
      grid-column: span 2 / span 2;
    }
  }
}
