.container {
    width: 90%;
}

article {
    all: unset;
}

.card {
    background: var(--neutral, #fff);
    border-radius: 9px;
    padding: 1.5rem;

    &.fit-content {
        width: fit-content;
        height: fit-content;
    }
}

.badge {
    background-color: var(--primary);
    color: var(--background);
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1;

    &:hover {
        color: var(--background);
        background-color: var(--accent);
    }
}
