h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora";
    font-weight: 400;
}

@media (min-width: 1200px) {
    h1 {
        --pico-font-size: 3rem;
        --pico-line-height: 1.225;
    }
}

hgroup > :not(:first-child):last-child {
    font-size: 1.2rem;
}

a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: 1px dashed var(--accent);

    &:hover,
    &.active,
    &[aria-current="page"] {
        color: var(--primary);
    }
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-accent {
    color: var(--accent);
}
