header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-block: 2rem;
  animation: fadeDown 500ms ease-in 333ms backwards;

  #name {
    margin: 0;
    font-size: 1.3rem;
  }

  & .navigation {
    display: flex;
    gap: 1rem;
  }
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a.active,
  a:hover {
    color: var(--primary);
  }
}
